<!DOCTYPE html>

<html lang="en-us">

<head>
    <link href='http://fonts.googleapis.com/css?family=Lato:100,300,400' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" type="text/css" href="css/style.css">
    <script src='//ajax.googleapis.com/ajax/libs/jquery/1.2.6/jquery.min.js' type='text/javascript'> </script>
    <script src="http://code.jquery.com/color/jquery.color-2.1.2.js"></script>
    <script src="js/ba-linkify.min.js"></script>
</head>
<center>
<body>
    <div id="header-padding"></div>
    <div id="header"><h1> HOOZAT? </h1></div>
    <h2 id="final_score" class="score"></h2>
    <h2 id="best_score" class="score"></h2>
    <a id="play_again" class="score"><div class="button"><p class="button-text">Play Again</p></div></a>
    <div id="content-box" class="rounded">
        <div id = "tweet-bar">
            <p id="tweet"></p>
        </div>
        <div id="container">
            <div class="inner-container left">
                <% for (var i = 0; i < 3; i++) {%>
                <% if (i == 2) { %>
                <div class="profile last-profile rounded">
                <% } else { %>
                <div class="profile rounded">
                <% } %>
                    <img class="picture rounded left" id="img<%= i %>">
                    <div class="name-container left">
                        <p class="name left" id="name<%= i %>"></p>
                        <p class="handle left" id="handle<%= i %>"></p>
                    </div>
                </div>
                <% } %>
            </div>
            <div class="inner-container right">
                <% for (var i = 3; i < 6; i++) {%>
                <% if (i == 5) { %>
                <div class="profile last-profile rounded">
                <% } else { %>
                <div class="profile rounded">
                <% } %>
                    <img class="picture rounded right"  id="img<%= i %>">
                    <div class="name-container right">
                        <p class="name right" id="name<%= i %>"></p>
                        <p class="handle right" id="handle<%= i %>"></p>
                    </div>
                </div>
                <% } %>
            </div>
        </div>
        <div class="end"></div>
    </div>
</body>
</center>
<footer id = "footer">
    <script> 
        var params = <%- JSON.stringify(params) %>
        var err =  <%- JSON.stringify(err) %>
        var tweeter;
    
        // sets up a round: sets profile pics, tweet, names
        function setupRound(params) {
            tweeter = params.tweet.user;
            
            $("#tweet").html("\"" + linkify(params.tweet.text) + "\"");
            
            $('.profile').removeClass("green");
            $('.profile').removeClass("red");
            
            for (var j = 0; j <= 5; j++) {
               $("#img"+j).attr("src", params.friends_data[j].photo);
               $("#name"+j).text(params.friends_data[j].name);
               $("#handle"+j).text("@"+params.friends_data[j].screen_name);
            }
        }
        setupRound(params);
        
        // on profile click: colors choice green/red and gets->sets new round
        $('.profile').click(function () {
            var correct;
            if( "@" + tweeter.screen_name.trim() === $(this).find(".handle")[0].innerText.trim()) {
                $(this).addClass("green");
                correct = true;
            } else {
                $(this).addClass("red");
                correct = false;
            }
            if(correct) { 
                $.get('/getRound', function (response) {
                    var json = JSON.parse(response);

                    if (json.err != null) {
                        console.log(json.err);
                    } else {
                        setupRound(json.params);
                    }
                });
            } else  {
                $.get('/finalscore', function(response) {
                    var score_data = JSON.parse(response);
                    $('#final_score').text("Current: " + score_data.num_correct);
                    $('#best_score').text("Best: " + score_data.max_num_correct);

                    $("#content-box").hide();
                    $(".score").show();
                });
            }
        });
        $("#play_again").click(function() {
            $(".score").hide();

            $.get('/getRound', function (response) {
                var json = JSON.parse(response);

                if (json.err != null) {
                    console.log(json.err);
                } else {
                    setupRound(json.params);
                    $("#content-box").show();
                }
            });
        });
    </script> 
</footer>
</html>
